<!-- footer -->

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3><i class="fas fa-paw"></i> zoo arcadia</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="links"><i class="fas fa-clock"></i>lundi - vendredi</p>
      <p class="days">8h00 - 16h30</p>
    </div>

    <div class="box">
      <h3>Informations de contact</h3>
      <a href="#" class="links"><i class="fas fa-phone"></i>05 61 86 45 03</a>
      <a href="mailto:mastertaar_97@hotmail.com" class="links"><i class="fas fa-envelope"></i>mastertaar_97@hotmail.com</a>
      <a href="#" class="links"><i class="fas fa-map-marker-alt"></i></i>castanet, france</a>
    </div>

    <div class="box">
      <h3>Liens rapides</h3>
      <a href="#home" class="links"><i class="fas fa-arrow-right"></i>accueil</a>
      <a href="#about" class="links"><i class="fas fa-arrow-right"></i>à propos</a>
      <a href="#gallery" class="links"><i class="fas fa-arrow-right"></i>galerie</a>
      <a href="#habitat" class="links"><i class="fas fa-arrow-right"></i>les animaux</a>
      <a href="#pricing" class="links"><i class="fas fa-arrow-right"></i>tarifs</a>
    </div>

    <div class="box">
      <h3>newsletter</h3>
      <p>inscrivez-vous afin de recevoir les dernieres actualités</p>
      <input type="email" placeholder="Votre Email" class="email">
      <a href="#" class="btn">inscrivez-vous</a>
      <div class="share">
        <a href="https://fr-fr.facebook.com/" class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/Accueil" class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" class="fab fa-instagram"></i></a>
        <a href="https://fr.linkedin.com/" class="fab fa-linkedin"></i></a>
      </div>
    </div>

  </div>

  <div class="credit">&copy; 2024 Zoo Arcadia. Tous droits réservés par <a href="https://github.com/Mastertaar" class="link">mastertaar</a></div>

</section>