

<main>
     
  <!-- home -->
  <section class="home" id="home">

    <div class="content">
      <h3>Viens faire partie<br>
        de la merveilleuse<br>
        aventure des<br>animaux</h3>
        <a href="#" class="btn">Fais la découverte du zoo</a>
    </div>

  </section>

  <!-- end -->

  <!-- about -->

  <section class="about" id="about">

    <h2 class="deco-title">A propos</h2>

    <div class="box-container">

      <div class="image">
        <img src="./images/cameleon.jpg" alt="cameleon">
      </div>

      <div class="content">
        <h3 class="title">Tu trouveras ici les espèces les plus populaires</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Esse non, nisi quaerat, vitae nemo labore perspiciatis voluptatum 
          cum ullam delectus qui asperiores beatae numquam blanditiis 
          molestiae est commodi. Incidunt, ut.</p>

          <div class="icons-container">
            <div class="icons">
              <i class="fas fa-graduation-cap" aria-hidden="true"></i>
              <h3>nous éduquons</h3>
            </div>
            <div class="icons">
              <i class="fas fa-bullhorn" aria-hidden="true"></i>
              <h3>nous divertissons</h3>
            </div>
            <div class="icons">
              <i class="fas fa-book-open" aria-hidden="true"></i>
              <h3>Apprenons à connaître</h3>
            </div>
          </div>

      </div>

    </div>

  </section>
  <!-- end -->

  <!-- gallery -->

  <section class="gallery" id="gallery">

    <h2 class="heading">Galerie</h2>

    <div class="swiper gallery-slider">

      <div class="swiper-wrapper">

        <div class="swiper-slide slide">
          <div class="image">
            <img src="./images/lions.jpg" alt="lions">
          </div>
        </div>
        <div class="swiper-slide slide">
          <div class="image">
            <img src="./images/koalas.jpg" alt="koalas">
          </div>
        </div>
        <div class="swiper-slide slide">
          <div class="image">
            <img src="./images/panda.jpg" alt="panda">
          </div>
        </div>
        <div class="swiper-slide slide">
          <div class="image">
            <img src="./images/singes.jpg" alt="singes">
          </div>
        </div>

      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </section>

  <!-- end -->

  <!-- animal -->

<section class="animal" id="animal">

  <h2 class="heading">Les Animaux</h2>

  <div class="box-container">

    <div class="box">
      <img src="./images/elephant.jpg" alt="">
      <div class="content">
        <h3>L' éléphant</h3>
        <a href="/elephants" class="btn">voir détails</a>
      </div>
    </div>
    <div class="box">
      <img src="./images/panda2.jpg" alt="">
      <div class="content">
        <h3>le panda</h3>
        <a href="#" class="btn">voir détails</a>
      </div>
    </div>
    <div class="box">
      <img src="./images/white_wolf.jpg" alt="">
      <div class="content">
        <h3>le loup blanc</h3>
        <a href="#" class="btn">voir détails</a>
      </div>
    </div>
    <div class="box">
      <img src="./images/tiger4.jpg" alt="">
      <div class="content">
        <h3>le tigre du bengale</h3>
        <a href="#" class="btn">voir détails</a>
      </div>
    </div>

  </div>

</section>

<!-- end -->

<!-- banner -->

<section class="banner">

  <div class="row">

    <div class="content">
      <h3>Vivez avec les animaux</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Ipsam rerum iusto corrupti unde architecto id ullam quae, natus temporibus. 
      Architecto molestias cumque 
      blanditiis magnam doloribus neque recusandae quibusdam ipsum aut.</p>
    </div>

    <div class="image">
      <img src="./images/zebravector.png">
    </div>
    
  </div>


</section>

<!-- end -->

<!-- pricing -->

<section class="pricing" id="pricing">

  <h2 class="heading">pricing</h2>

  <div class="box-container">

    <div class="box">
      <img src="./images/pricing1.png" alt="adults">
      <h3>adulte</h3>
      <h4 class="price">€14</h4>
      <p>horaire d'ouverture de 8h00 à 16h30</p>
    </div>

    <div class="box">
      <img src="./images/pricing2.png" alt="children">
      <h3>enfant (de 3 à 12 ans)</h3>
      <h4 class="price">€9</h4>
      <p>horaire d'ouverture de 8h00 à 16h30</p>
    </div>

    <div class="box">
      <img src="./images/pricing3.png" alt="groups">
      <h3>groupes (à partir de 8 personnes)</h3>
      <h4 class="price">€11</h4>
      <p>horaire d'ouverture de 8h00 à 16h30</p>
    </div>
    

  </div>

</section>

<!-- end -->

<%- include('./contact'); %>

</main>