<div class="burger-menu">
  <ul class="links">
    <li class="nav-item"><a class="nav-link" href="#about">à propos</a></li>
      <li class="nav-item"><a class="nav-link" href="#gallery">Galerie</a></li>
      <li class="nav-item"><a class="nav-link" href="#animal">les animaux</a></li>
      <li class="nav-item"><a class="nav-link" href="#pricing">tarifs</a></li>
      <li class="nav-item"><a class="nav-link" href="#contact">contact</a></li>
      <!--<li class="nav-item"><a class="nav-link" href="/veto">Se déconnecter</a></li>-->
      <%if (status == "loggedIn"){%>
        <li class="nav-item"><a class="nav-link" href="/veto">aile vétérinaire</a></li>
        <li class="nav-item"><a class="nav-link" href="/profil">Profil</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Se déconnecter</a></li>
      <%}else{%>
        <li class="nav-item"><a class="nav-link" href="/register">S'inscrire</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Connexion</a></li>
      <%}%>
        <!--<div class="divider"></div> pour après éventuellement séparer les boutons et les liens-->
  </ul>
</div>